* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: #fff;
}

img {
  max-width: 100%;
}

/* UTILS */

.container {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

/* HEADER */

header {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: flex-end;
}

/* MAIN */

main {
  width: 100vw;
  height: calc(100vh - 60px - 100px);
}

.row {
  overflow: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  position: relative;
  flex-basis: calc(90% / 7);
  margin-bottom: 1rem;
}

.card-label {
  position: absolute;
  left: 0;
  bottom: 0;
}

/* FOOTER */

.footer-container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(86, 86, 86);
}

.zoom-setting {
  display: flex;
  justify-content: space-between;
  /* margin: 0 0.5rem; */
}

.zoom-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.zoom-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.zoom-col > i {
  font-size: x-large;
}
