* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: #fff;
}

img {
  max-width: 100%;
}

/* UTILS */

.container {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

/* HEADER */

header {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: flex-end;
}

/* MAIN */

main {
  width: 100vw;
  height: calc(100vh - 60px);
}

.row {
  overflow: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  position: relative;
  flex-basis: calc(90% / 7);
  margin-bottom: 1rem;
}

.card-label {
  position: absolute;
  left: 0;
  bottom: 0;
}
